/* style/variables.css */

:root {
  --primary: #031E31;
  --primary-2: rgba(7, 51, 83, 0.95);
  --primary-3: rgba(18, 16, 82, 0.85);
  --primary-4: rgba(13, 26, 70, 0.85);
  --primary-5: rgba(16, 58, 82, 0.85);
  --primary-6: rgba(84, 138, 152, 0.85);
  --primary-7: rgba(17, 80, 85, 0.85);
  --primary-8: rgba(14, 30, 82, 0.85);
  --primary-9: rgba(14, 30, 82, 0.85);

  --border: #548a98;

  --active: rgba(76, 175, 80, 1);
  --maintenance: #ead353;
  --inactive: #f44336;

  --active-7: rgba(76, 175, 80, 0.7);

  --accent: rgba(49, 151, 163, 1);
  --accent-2: rgba(49, 151, 163, 0.439);

  --bg-color: linear-gradient(180deg, #121826 0%, #1B212F 100%);
  --darker-bg: #3d0d5c;
  --panel-bg: #121826;
  --input-bg: #1B212F;

  --primary-color: #f0bd36;
  --accent-color: #f0bd36;
  --text-color: #ffffff;
  --text-secondary: #b0bec5;
  --red-status: #8d2c24;
  --yellow-status: #f0bd36;
  --warning-status: #8c6d0f;
  --green-status: #4caf50;
  --blue-accent: #3498db;
  --inactive-status: #3c3c46;

  --border-1: 1px solid var(--accent-2);

  /* --map-top: 191px; */
  /* --map-top: 298px; */
  --map-top: 270px;
}
