/* style/variables.css */

:root {
  --primary: #121826;
  --primary-2: #1B212F;
  --primary-3: rgba(18, 16, 82, 0.85);
  --primary-4: rgba(13, 26, 70, 0.85);
  --primary-5: rgba(16, 58, 82, 0.85);
  --primary-6: rgba(84, 138, 152, 0.85);
  --primary-7: rgba(17, 80, 85, 0.85);
  --primary-8: rgba(14, 30, 82, 0.85);
  --primary-9: rgba(14, 30, 82, 0.85);

  --border: #548a98;

  --active: #4caf50;
  --maintenance: #ead353;
  --inactive: #f44336;

  --accent: #f0bd36;

  --bg-color: linear-gradient(180deg, #121826 0%, #1B212F 100%);
  --darker-bg: #3d0d5c;
  --panel-bg: #121826;
  --input-bg: #1B212F;

  --primary-color: #f0bd36;
  --accent-color: #f0bd36;
  --text-color: #ffffff;
  --text-secondary: #b0bec5;
  --red-status: #8d2c24;
  --yellow-status: #f0bd36;
  --warning-status: #8c6d0f;
  --green-status: #4caf50;
  --blue-accent: #3498db;
  --inactive-status: #3c3c46;
}
